{% extends "main/layout.html"%}

{% block title %} about {% endblock %}

{% block content %}

<div class="features">
    <h1>Почему выгодно работать с нами?</h1>
    <p>
        Привет! Меня зовут Куаныш.

Со времен моей молодости я увлекался миром кофе.
        Этот напиток не просто помогает проснуться по утрам,
        он объединяет людей, становится поводом для бесед и создает уют.
        Именно поэтому я решил заняться продажей кофе.

Моя цель — делать каждый ваш день особенным,
        наполняя его ароматом свежесваренного кофе высокого качества.
        Я верю, что каждый заслуживает настоящего, качественного кофе,
        и стараюсь предоставить вам только лучшие сорта.


Если у вас есть вопросы о нашем кофе или вы просто хотите пообщаться на кофейные темы, не стесняйтесь связаться со мной!
С уважением,
Куаныш
    </p>
    <a href="{% url 'home' %}" class="btn btn-warning">Вернуться назад</a>


</div>
{% endblock %}